[submodule "backend"]
	path = backend
	url = https://gitee.com/icepolar/yshop-drink.git
	branch = master
[submodule "admin"]
	path = admin
	url = https://gitee.com/icepolar/yshop-drink-vue.git
	branch = master
[submodule "miniapp"]
	path = miniapp
	url = https://gitee.com/icepolar/icepolarminiapp.git
	branch = main
[submodule "icepolar-dms"]
	path = icepolar-dms
	url = https://gitee.com/icepolar/dms.git
[submodule "mock-external-server"]
	path = mock-external-server
	url = https://gitee.com/icepolar/mock-external-server.git
